<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="ros2_control"
    params="prefix ros2_control_hardware_type usb_port"
  >
    <ros2_control name="SO-ARM100" type="system">
      <hardware>
        <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:if value="${ros2_control_hardware_type == 'real'}">
          <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
          <param name="usb_port">${usb_port}</param>
        </xacro:if>
      </hardware>
      <joint name="${prefix}shoulder_pan_joint">
        <param name="initial_position">0.0</param>
        <param name="id">1</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">0</param>
        <param name="offset">2048</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.78709</param>
        <param name="max_position">1.70425</param>
      </joint>
      <joint name="${prefix}shoulder_lift_joint">
        <param name="id">2</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">10</param>
        <param name="offset">2048</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.79936</param>
        <param name="max_position">1.8193</param>
      </joint>
      <joint name="${prefix}elbow_joint">
        <param name="id">3</param>
        <param name="offset">2048</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">10</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.95276</param>
        <param name="max_position">1.51557</param>
      </joint>
      <joint name="${prefix}wrist_pitch_joint">
        <param name="id">4</param>
        <param name="offset">2048</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">0</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.82237</param>
        <param name="max_position">1.84845</param>
      </joint>
      <joint name="${prefix}wrist_roll_joint">
        <param name="id">5</param>
        <param name="offset">2048</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">0</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-2.94678</param>
        <param name="max_position">2.98973</param>
      </joint>
      <joint name="${prefix}jaw_joint">
        <param name="id">6</param>
        <param name="offset">2048</param>
        <param name="p_coefficient">16</param>
        <param name="d_coefficient">32</param>
        <param name="i_coefficient">0</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-0.65194</param>
        <param name="max_position">1.71806</param>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>