<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="ros2_control"
    params="prefix ros2_control_hardware_type usb_port"
  >
    <ros2_control name="SO-ARM100" type="system">
      <hardware>
        <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:if value="${ros2_control_hardware_type == 'real'}">
          <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
          <param name="usb_port">${usb_port}</param>
        </xacro:if>
      </hardware>
      <joint name="${prefix}shoulder_pan_joint">
        <param name="initial_position">0.0</param>
        <param name="id">1</param>
        <param name="p_cofficient">8</param>
        <param name="offset">2048</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.91986</param>
        <param name="max_position">1.91986</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
      <joint name="${prefix}shoulder_lift_joint">
        <param name="id">2</param>
        <param name="p_cofficient">16</param>
        <param name="offset">2125</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.74533</param>
        <param name="max_position">1.74533</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
      <joint name="${prefix}elbow_joint">
        <param name="id">3</param>
        <param name="offset">2080</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.69</param>
        <param name="max_position">1.69</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
      <joint name="${prefix}wrist_pitch_joint">
        <param name="id">4</param>
        <param name="offset">3110</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-1.65806</param>
        <param name="max_position">1.65806</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
      <joint name="${prefix}wrist_roll_joint">
        <param name="id">5</param>
        <param name="offset">1024</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-2.74385</param>
        <param name="max_position">2.84121</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
      <joint name="${prefix}jaw_joint">
        <param name="id">6</param>
        <param name="offset">2070</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <param name="min_position">-0.174533</param>
        <param name="max_position">1.74533</param>
        <param name="max_velocity">10.0</param>
        <param name="max_effort">10.0</param>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
